# env type
NODE_ENV=

# server config
PORT=
HOST=

# database config
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# data config
RESET_DB=
RELOAD_AUTH_DATA=
RELOAD_MOVIE_DATA=

# jwt secret
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=